*{
    font-family: sans-serif;  
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main{
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(170, 194, 176);
}

.sub-header{
    align-self: center;

}

form{
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


form div{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

form div label{
    display: flex;
    padding: 5px;
    width: 20%;
    margin-right: auto;
    text-align: left;
    justify-self: start;
}

form div input{
    display: flex;
    padding: 5px;
    width: 75%;
    border: ivory;
    border-radius: 5px;
}

.form-element{
    background-color: rgb(105, 150, 179);
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.button{
    padding: 10px;
    border: none;
    margin-right: 5px;
    width: auto;
    color: white;
    text-align: center;
}

.button-group{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.submit{
    background-color: burlywood;
}

.reset{
    background-color: cyan;
}

